body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.bg-green {
  background: #28A745;
}
.text-green {
  color: #28A745;
}
.navbar img {
  width: 80px;
}
.card {
  color: #707070;
  border-color: #DDD;
}
.card img {
  height: 180px;
  object-fit: cover;
}
.card-title {
  color: #212529;
}
hr {
  border-color: #DDD;
  opacity: 1;
}
.text-sm {
  font-size: 0.75rem;
}
footer img {
  width: 80px;
}